aws_region = "eu-west-2"
domain_name = "lesbuttes.com"
custom_domain_enabled = false
hosted_zone_id = null
github_repository = "metapointgg/les-buttes-website"
budget_alert_email = "info@lesbuttes.com"
monthly_budget_usd = 5
